// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
// $utilities: (
//   "h": (
//     property: height,
//     class: h,
//     values: (
//       10: 10px,
//       20: 20px,
//       30: 30px,
//       40: 40px,
//       50: 50px,
//       BG: 600px
//     )
//   ),
// "w": (
//   property: width,
//   class:w,
//   values:(
//     BG: 600px
//   )
// )

// );
@font-face {
  font-family: 'Sweet Sans';
  src: url('/resources/font/SweetSansProBold.otf') format('otf'),
       url('/resources/font/SweetSansProRegular.otf') format('otf'),
       url('/resources/font/SweetSansProMedium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

// Now, override Bootstrap's body font globally
body {
  font-family: 'Sweet Sans', sans-serif; /* Fallback to sans-serif */
}

.nav{
    display: flex;
    flex-direction: row;
}

.nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link{
  font-family: 'Sweet Sans', sans-serif; /* Fallback to sans-serif */

  color: white;
  font-weight: 200px;
  font-size: 15px

}
.nav-link:hover{
  background-color: #112D4E;
  // padding: 0.3px;
  border-radius: 10px;
  transition: 0.5s;
  color: white;
}

.input-group{
  width: 55%;
  height: fit-content;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.559)
}
.form-control,.btn{

  height: 50px;
}
// Generate the utilities
@import 'bootstrap/scss/utilities';
