#home-figure-1{
    position: absolute;
    right: 0px;
    translate: 0px 80px;
    z-index: 0;
}

#home-section-2{
    background-color: #00CCFF;
    z-index: 5;
    padding: 20px 0px;
    position: relative;
}

#home-section-2 * , #home-section-3 *{
    color: white;
}

#home-section-1-content{
    z-index: 3;
}

#home-section-3{
    background-color: #2600FF;
    padding: 20px 0px;
}

#home-section-4{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    gap: 20px;
}

#home-section-4 *{
    color: black;
}

#home-section-4 h2{
    font-size: 64px;
    font-weight: 600;
}
